* {
    margin: 0;
    padding: 0;
}

html {
    max-height: 100vh;
    max-width: 100vw;
}

body {
    min-height: 100vh;


    display: grid;
    grid-template-columns: minmax(100px, 300px) 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navbar navbar"
        "sidebar main";

}

nav {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: white;
    box-shadow: 3px 3px 5px rgb(15, 13, 13);
    grid-area: navbar;

}

nav ul {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;

}

nav li {
    height: 50px;

}

nav a {
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
    display: flex;
    align-content: center;

}

nav ul img {
    padding: 0;
}

li {
    display: flex;
}

nav li:first-child {
    margin-right: auto;
    padding: 0;

}

.manu-button {
    display: block;
}

.nav-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    height: 100vh;
    width: 300px;
    background-color: white;
}

#manu-button {
    display: none;
}

@media (max-width:800px) {
    #manu-button {
        display: block;
    }

    .hide-manu {
        display: none;
    }

    .show-manu {
        display: flex;
    }

    main {
        flex-direction: column;
    }


}

aside {
    grid-area: sidebar;
    position: sticky;
    height: calc(100vh - 50px);
    top: 50px;
    align-self: start;
    text-align: justify;
    padding: 0 1em;
    z-index: -1;
    box-shadow: 3px 3px 5px rgb(15, 13, 13);
}

main {
    grid-area: main;
    padding: min(30px, 7%) 10px;
    display: flex;
    flex-wrap: wrap;

    /* overflow: hidden; */


}

iframe {
    display: flex;
    justify-content: center;
    align-items: center;


}